div{
    border:10px;
    background-color: black;
    height: 30px;
}
b{
    color: whitesmoke;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: left;
}
li h4{
    display: black;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li h4.hover{
    color: darkgrey;
}
h5{
    color:whitesmoke
}