.log{
    background-color: black;
    font-style: italic;
    text-align: center;
    color: white;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.home{
    display: flex;
    background-color: aqua;
    
    
}
.home-link{
    margin-right: 20px;
}